
services:

  db:
    image: postgres:16
    container_name: database
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - ./.env
    ports:
      - 3030:5432
  
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: backend
    volumes:
      - backend_data:/app/data/python
    env_file:
      - ./.env
    ports:
      - 8000:8000
    depends_on:
      - db

volumes:
  db_data:
  backend_data:

  

    
 
  